# Diretórios de dependências
Semana1/Cypress/node_modules/
Semana1/Playwright/node_modules/
Semana2/CypressTestesAPI/node_modules/

# Relatórios de testes
Semana1/Playwright/playwright-report

# Capturas de tela e vídeos


# Arquivos de configuração locais


# Logs
*.log


# Arquivos de build
dist/
build/


# Outros arquivos temporários
.DS_Store
*.swp
*.tmp
